{% extends 'blog_app/base.html' %}
{% load static %}
{% block content %}

<h3>About Page</h3>
<p>lorem50Fugiat id proident minim occaecat exercitation et culpa. 
Sit eu aliqua cupidatat velit eu non. Veniam velit do eiusmod 
adipisicing enim exercitation aliqua exercitation. Elit consectetur 
laboris in do dolore occaecat proident eu officia Lorem ad pariatur.</p>

<p>lorem50Fugiat id proident minim occaecat exercitation et culpa. 
Sit eu aliqua cupidatat velit eu non. Veniam velit do eiusmod 
adipisicing enim exercitation aliqua exercitation. Elit consectetur 
laboris in do dolore occaecat proident eu officia Lorem ad pariatur.</p>

{% endblock content %}